body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.centerbtn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  margin: 20px;
}

.btn:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  opacity: 0.6;
}

.add-btn{
  background: rgb(0, 167, 42);
  width: 40px;
  height: 40px;
}
.add-btn:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  opacity: 0.6;
}
.app-title{
  text-align: center;
  color: rgb(223, 171, 103);
  font-size: 70px;
}
.container{
  border: 5px solid rgb(252, 217, 171);
  border-radius: 25px;

}
h1{
  text-align: center;
  color: rgb(223, 171, 103);
  font-size: 30px;
}
.titleAH{
  margin-top: 10px;
}

h3{
  text-align: center;
  color: rgb(223, 171, 103);
  font-size: 20px;
}

.inputplace{
  width:100%;
  background-color: rgb(255, 231, 199);
  border:2px solid rgb(252, 217, 171);
  border-radius:4px;
  margin:8px 0;
  outline:none;
  padding:8px;
  box-sizing:border-box;
  transition:.3s;
}
.inputplace:focus{
  border-color:rgb(223, 171, 103);
  box-shadow:0 0 8px 0 rgb(223, 171, 103);
}

ul li{
  display: inline-block;
  padding: 10px 20px;
  cursor:pointer;
  background-color:rgb(255, 231, 199);
  color:#7B8585;
  border: 5px solid rgb(252, 217, 171);
  transition:0.3s;
}

ul li:hover{
  background-color:rgb(221, 194, 158);
}

ul li.focused{
  color:#fff;
  background-color:rgb(223, 171, 103);
}

img{
  width: 30%;
}
.polaroid {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.container2 {
  text-align: center;
  padding: 10px 20px;
}